{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="min-height:380px">
        <div class="col-9">
            <div class="card">
                <div class="card-body" >
                    <form action="/dashboard/send_request/verb/{{ verb.id }}/">
                        <table class="table table-centered table-nowrap table-borderless mb-0">
                            <thead class="table-light custom_header">
                                <tr>
                                    <th>German</th>
                                    <th>English</th>
                                    <th>French</th>
                                    <th>Past participle</th>
                                    <th>Simple past</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="mb-3"><input name="verb_in_present" value="{{ verb.verb_in_present }}" /></div>
                                    </td>

                                    <td>
                                        <div class="mb-3"><input name="english_translation" value="{{ verb.english_translation }}" /></div>
                                    </td>

                                    <td>
                                        <div class="mb-3"><input name="french_translation" value="{{ verb.french_translation }}" /></div>
                                    </td>

                                    <td>
                                        <div class="mb-3"><input name="past_participle" value="{{ verb.past_participle }}" /></div>
                                    </td>

                                    <td>
                                        <div class="mb-3"><input name="simple_past" value="{{ verb.simple_past }}" /></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center d-grid">
                            <button style="width:30%;border-radius: 58px;background-color:red" type="submit"> Send request </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}