{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="min-height:380px">
        <div class="col-9">
            <div class="card" style="height:600px!important;">
                <div class="card-body" >
                    {% if request.session.token %}
                        <div id="cardCollpase5" class="collapse show" style="width:100%;max-height:500px!important;">
                        <div class="pt-3" style="">
                            <table class="table table-centered table-nowrap table-borderless mb-0">
                                <thead class="table-light custom_header">
                                    <tr>
                                        <th>German</th>
                                        <th>English</th>
                                        <th>French</th>
                                        <th>Past participle</th>
                                        <th>Simple past</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for verb in verbs %}
                                        <tr>
                                            <td>{{ verb.verb_in_present }}</td>
                                            <td>{{ verb.english_translation }}</td>
                                            <td>{{ verb.french_translation }}</td>
                                            <td>{{ verb.past_participle }}</td>
                                            <td>{{ verb.simple_past }}</td>
                                            <td>
                                                <a href="request_change/{{verb.id}}/"><button>Change</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div id="cardCollpase4" class="collapse show" style="width:100%;max-height:500px!important;">
                        <div class="pt-3" style="">
                            <table class="table table-centered table-nowrap table-borderless mb-0">
                                <thead class="table-light custom_header">
                                    <tr>
                                        <th>German</th>
                                        <th>English</th>
                                        <th>French</th>
                                        <th>Past participle</th>
                                        <th>Simple past</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for verb in verbs %}
                                        <tr>
                                            <td>{{ verb.verb_in_present }}</td>
                                            <td>{{ verb.english_translation }}</td>
                                            <td>{{ verb.french_translation }}</td>
                                            <td>{{ verb.past_participle }}</td>
                                            <td>{{ verb.simple_past }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}