::-webkit-scrollbar {
                width: 10px;
                margin:0px;
                padding:0px;
                height: 0px;
                background: red;
            }
            ::-webkit-scrollbar-track {
                background: red;
            }
            ::-webkit-scrollbar-thumb {
                background: #6d60ad;
            }
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }