{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="min-height:380px">
        <div class="col-9">

            <div class="card" style="height:600px!important;">
                <div class="card-body" >

                    <h4 class="header-title mb-0 theme_dpw_heavy">Words</h4>

                    <div id="cardCollpase6" class="collapse show" style="width:100%;max-height:500px!important;">
                        <div class="pt-3">

                            <table class="table table-centered table-nowrap table-borderless mb-0">
                                <thead class="table-light custom_header">
                                    <tr>
                                        <th>German</th>
                                        <th>English</th>
                                        <th>French</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for word in words %}
                                        <tr>
                                            <td>{{ word.german_translation }}</td>
                                            <td>{{ word.english_translation }}</td>
                                            <td>{{ word.french_translation }}</td>
                                            <td>
                                                <a href="/dashboard/approve/word/{{word.id}}/"><button>Approve</button></a>
                                                <a href="/dashboard/reject/word/{{word.id}}/"><button>Reject</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card" style="height:600px!important;">
                <div class="card-body" >

                    <h4 class="header-title mb-0 theme_dpw_heavy">Verbs</h4>

                    <div id="cardCollpase7" class="collapse show" style="width:100%;max-height:500px!important;">
                        <div class="pt-3" style="">

                            <table class="table table-centered table-nowrap table-borderless mb-0">
                                <thead class="table-light custom_header">
                                    <tr>
                                        <th>Verb in present</th>
                                        <th>English</th>
                                        <th>French</th>
                                        <th>Past participle</th>
                                        <th>Simple past</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for verb in verbs %}
                                        <tr>
                                            <td>{{ verb.verb_in_present }}</td>
                                            <td>{{ verb.english_translation }}</td>
                                            <td>{{ verb.french_translation }}</td>
                                            <td>{{ verb.past_participle }}</td>
                                            <td>{{ verb.simple_past }}</td>
                                            <td>
                                                <a href="/dashboard/approve/verb/{{verb.id}}/"><button>Approve</button></a>
                                                <a href="/dashboard/reject/verb/{{verb.id}}/"><button>Reject</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}